:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;            
    --white: hsl(0, 0%, 100%);
    --black: #000000;
    --sm: 14px;
    --md: 15px;
    --lg: 18px;
}
.inactive{
    display: none;
}
body{            
margin: 0;
font-family: 'Quicksand', sans-serif;
font-weight: 700;
background-color: var(--white);
}
/* Estilos Navbar */
@media (max-width: 640px)
{
   
}    
@media (min-width: 640px) {
.menu{
        display: none;
    }
    .mobile-menu{
        display: none 
    }

}
@media(max-width: 641px){
    .navbar-left ul{
    display: none !important;
}
     .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
      
    } 
    .product-card{
        width: 140px;            
    }
    .product-card-img{
    width: 140px;
    height: 140px;
   
    }
    .navbar-email{
        display: none;
    }
    .desktop-menu{
        display: none 
    }
    .my-order-container{
        width: 100% !important;
    }
}


.menu{
    padding: 12px;
}
.logo{
    width: 100px;
}
.navbar-left ul, .navbar-right ul{
    list-style: none;
    padding: 0;
    margin-top: 24px;
    align-items: center;
    display: flex;            
    margin: 0; 
}
.navbar-left, .navbar-right{
   display: flex;
   margin-left: 20px;
}       
.navbar-left ul{
    margin-left: 20px;
}
.navbar-right ul{
    margin-left: 20px;
    height: 60px;
    margin-right: 20px;
}
.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover {
    
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}     
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--very-light-pink);
    background-color: var(--white);
}
.navbar-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    cursor: pointer;
}
.navbar-shopping-cart div{
    background-color: var(--hospital-green);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    background-color: var(--white);
    right: 45px;
    top: 60px;
}
.desktop-menu ul{
   list-style: none;
   padding: 0;
   margin: 0;
   text-align: end;

}
.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-decoration: none;
}
.desktop-menu ul li:not(:last-child) a{
    color: var(--black);
    text-decoration: none;
    font-size: var(--sm);
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
}
/* estilos del menu mobile */
.mobile-menu{
    padding: 24px;
    position: absolute;
    top: 61px;
    
    background-color: var(--white);
}
.mobile-menu a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    
}
.mobile-menu ul{
    margin-bottom: 30px;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
    
}
.mobile-menu ul li{
    list-style: none;
    margin-bottom: 18px;
}
.email{
    font-size: var(--sm);
    font-weight: 300 !important;

}
.mobile-menu .sign-out{
    color: var(--hospital-green) ;
}
.mobile-menu ul:last-child{
    margin-top: 100px;
}

/* Estilos Carrito de Compra */


.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    height: 42px;
    cursor: pointer;
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    width: 100%;
}
.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
   
    background-color: var(--white);
}
.title{
    font-size: var(--lg);
    margin-bottom: 30px;
}
.my-order-container{                 
    width: 360px;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 61px;
    
    background-color: var(--white);
}
.my-order-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.my-order-top{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(235, 231, 231);
    border-radius: 8px;
    gap: 16px;           
    margin-bottom: 24px;
    padding: 0 24px;
    align-items: center;
  
}
.my-order-top p:nth-child(1){
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.my-order-top p:nth-child(2){
    text-align: end;
    font-weight: 700;
}
.my-order-top p span:nth-child(2){
    font-size: var(--sm);
    font-weight: 300;
}
.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 16px;
    padding: 0 0 24px 0;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
   font-size: var(--md);
   font-weight: bold;
}
.titulo{
    display: flex;
}
.titulo img{
   transform: rotate(180deg);
   padding: 0 0 0 10px;
}
.titulo h1{
    font-size: var(--lg);
    font-weight: bold;
}
/* Estilos del listado de productos (inicio) */


.product-card-img{
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-card{
    width: 240px;
    
}
.cards-container{
    display: grid;    
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;    
    padding: 20px;       
    place-items: center;
    
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}      
.product-info figure{
    margin: 0;
}  
  
.product-info div p:nth-child(1){
   font-weight: bold;
   font-size: var(--md); 
   margin-bottom: 4px;
   margin-top: 12px;

}
.product-info div p:nth-child(2){
    color: var(--very-light-pink);
   font-size: var(--sm); 
   margin-bottom: 0px;
   margin-top: 0px;
}

